body{
    text-align: center;
    /* IMAGE DE FOND */
    /* background-image:url(https://images.pexels.com/photos/1564312/nature-milky-way-stars-galaxy-1564312.jpeg?cs=srgb&dl=astronomie-celebrites-ciel-etoile-ciel-nocturne-1564312.jpg&fm=jpg);
    background-size: cover; */
    color:rgb(12, 12, 12);
    background-color:rgb(12, 12, 12);
    font-family:'EB Garamond', serif;
}



/* HEADER */
#Banner { 
    max-width: 100%;
    height: auto;
}
span.Guillaume {
    color: rgb(216, 212, 186);
}
span.BULLET {
    color:rgb(166, 157, 103);
}
#PhotoID {
    max-width: 100%;
    height : auto;
}
#slogan {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}



/* Balises de base  */
h1 { 
    background-color: rgb(86, 76, 42);
    font-size: 80px; 
    text-align: auto;
    font-variant: small-caps;
    text-align: center;
}
h2 { 
    background-color: rgb(86, 76, 42);
    color: rgb(216, 212, 186);
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
}
h3 { 
    background-color: rgb(86, 76, 42);
    color: rgb(216, 212, 186); 
    font-size: 50px;
    background-color: rgb(218, 214, 214);
    text-align: center;
}
h4 {
    color: white;
}
p { 
    color: rgb(255, 255, 255);
    font-size: 30px;
}
li {
    color: white;
}



/* SOMMAIRE */
/* Tuile des Textes Pros */
#TuileTextePro{
    background-color:rgb(194, 191, 173);
    font-style: bold;
}
/* Tuile des Projets Numériques */
#TuileImagesEtVideos{
    background-color:rgb(194, 191, 173);
    font-style: bold;
}
/* Tuile de la Zone du CV */
#TuileSommaireCV{
    background-color:rgb(194, 191, 173);
    font-style: bold;
}
/* Tuile des Réseaux Sociaux */
#TuileReseauxSociaux{
    background-color:rgb(194, 191, 173);
}


.CaseSommaire {
    font-style: bold;
}


/* ZONE CENTRALE */
.Poutine {
    width: 500px;
}
.CV {
    width: auto;
    height : 600px;
}
#TextePro {
    border: 4px ridge rgb(166, 157, 103);
    text-align: justify;
    padding: 30px;
}
#ProdNum {
    border: 4px ridge rgb(166, 157, 103);
}
#CurriculumVitae {
    border: 4px ridge rgb(166, 157, 103);
}



/* RÉSEAUX SOCIAUX */
#Facebook {
    width: 100px;
    height : auto;
}
#Twitter {
    width: 100px;
    height : auto;
}
#Instagram {
    width: 100px;
    height : auto;
}
#Linkedin {
    width: 100px;
    height : auto;
}



/* FOOTER */
footer {
    background-color:rgba(134, 134, 134, 0.884);
}